* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.whatsapp{
    height: 50px;
    width: 50px;
    position: fixed;
    margin-top: 80vh;
    margin-left: 65vw;
}

.menu {
    background-color: #f7cd68;
    color: #f7cd68;
    height: 70px;
    display: flex;
    align-items: center;

}

.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.menu-logo {
    padding: 0 15px;
    height: 6.8rem;
}


.menu-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.menu-item {
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(0);
}

.menu-item:hover {
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(90deg);
}

.menu-link {
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
    display: flex;
    align-items: center;
    height: 100%;
    transition: all 0.3s ease;
}

.menu-link:hover {
    background-color: #f7cd68;
}

.menu-arrow {
    transform: var(--transform);
    transition: transform .3s;
    display: block;
    margin-left: 3px;
}

.menu-nesting {
    list-style: none;
    transition: clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: #FBE6B2;
}

.menu-link-inside {
    padding: 30px 10px 30px 20px;
}

.menu-link-inside:hover {
    background-color: #FBE6B2;
    color: #f6b829;
}

.menu-hamburger {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
}

.menu-img {
    display: block;
    width: 36px;
}

.menu-hamburger {
    display: none; /* Por defecto oculto */
}

@media (max-width: 800px) {
    .menu-hamburger {
        min-width: 20px;
        min-height: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        cursor: pointer;
    }

    .sticky-element {
        position: sticky;
        top: 0; 
        padding: 10px; 
        z-index: 1000;
    }

    .menu-link {
        color: #fff;
        text-decoration: none;
        padding: 20px;
        display: flex;
        align-items: center;
        transition: all 0.3s ease;
        height: 25px;
    }

    .menu-item {
        list-style: none;
        position: relative;
        height: 10%;
        --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
        --transform: rotate(0);
    }
    
    .menu-item:hover {
        --clip: polygon(0 0, 0 0, 0 0, 0 0);
        --transform: rotate(0deg);
    }
    
    .menu-links {
        position: fixed;
        top: 70px;
        width: 100%;
        right: 2px;
        background-color: #f7cd68;
        overflow-y: auto;
        display: none;
    }

    .menu-links.show {
        display: block;
    }

    .whatsapp{
        margin-top: 84vh;
        margin-left: 34vw;
    }

}
@media (max-width: 610px){
    .whatsapp{
        margin-top: 84vh;
        margin-left: 30vw;
    }
}