.item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item {
    width: calc(25% - 10px);;
    margin-bottom: 20px;
}

.contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    padding: 20px;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 500px;
    height: auto;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius: 15px;
    font-family: sans-serif;
}

.tarjeta img {
    width: 100%;
}

.titulo {
    font-size: 30px;
}

.cuerpo p {
    font-size: 20px;
}

.pie {
    background: #6699ff;
    border-radius: 0 0 15px 15px;
    padding: 10px;
    text-align: center;
}

.pie a {
    text-decoration: none;
    color: white;
}